<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Partner</h3>
                            <div class="time">2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">INBlockchain, Beijing</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Responsible for finding investment opportunities for the Partner's fund, and expanding INB's reach around the world.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Advisor</h3>
                            <div class="time">2017 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Stream, SF</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Helped with early hiring, and idea generation for a next-gen decentralized streaming video platform. Initially as COO, and then as an early advisor.</p>
                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Product Designer</h3>
                            <div class="time">2012 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Open Company, SF</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Designed, manufactured, and sold a diverse array of products including a map of San Francisco which was featured in a book and a disaster-response pack which raised over $100,000 in pre-orders.</p>
                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Peking University</h3>
                            <div class="time">2009 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Beijing, China</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Attended Peking University as an undergraduate student in the Biological Sciences program. While working on my undergraduate coursework, I worked in the Rao Lab creating useful tools for neuroscience research. I took academic leave at the end of 2011 to pursue entrepreneurial projects in product design</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Founder, Liangyou Liuxue</h3>
                            <div class="time">2011 - 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Beijing, SF</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>I founded a small-scale consultancy helping Chinese students who wished to study in America prepare their college applications. I recruited a team of students from Harvard to help review the applications, and our clients found placement at top schools around the world, including U Penn and UC Berkeley</p>
                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Undergrad Research Assistant</h3>
                            <div class="time">2009 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Rao Yi Lab, Peking University</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>I worked in the Rao Lab continuing the work from my 2008 iGEM project to create tools for rapid genetic selection of useful molecules for neuroscience research</p>
                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Peking University iGEM Team</h3>
                            <div class="time">2008 - 2008</div>
                        </div><!--//upper-row-->
                        <div class="company">Beijing, China</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>From June to September I worked in Ouyang Qi's lab at Peking University to create an award-winning synthetic biology project with the PKU iGEM team.</p>
                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UC Merced</h3>
                            <div class="time">2007 - 2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Merced, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Offered a transfer agreement to UC Berkeley, but instead left to transfer to Peking University</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Palo Alto High School</h3>
                            <div class="time">2003 - 2007</div>
                        </div><!--//upper-row-->
                        <div class="company">Palo Alto, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>While attending high school, participated in Speech and Debate and Science Olympiad. During summers worked at Stanford University on a project to create a replica Pterosaur and at UCSF on synthetic biology projects for the iGEM team</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
