<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Peking University</h3>
                            <div class="time">2009 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Beijing, China</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Attended Peking University as an undergraduate student in the Biological Sciences program. While working on my undergraduate coursework, I worked in the Rao Lab creating useful tools for neuroscience research.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UC Merced</h3>
                            <div class="time">2007 - 2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Merced, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Offered a transfer agreement to UC Berkeley, but instead left to transfer to Peking University</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Palo Alto High School</h3>
                            <div class="time">2003 - 2007</div>
                        </div><!--//upper-row-->
                        <div class="company">Palo Alto, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>While attending high school, participated in Speech and Debate and Science Olympiad. During summers worked at Stanford University on a project to create a replica Pterosaur and at UCSF on synthetic biology projects for the iGEM team</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
